.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    background-color: white;
    width:99vw;
    /* margin: 0 auto; */
    height: 50px;
    align-items: center;
    z-index: 3;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 100%;
    width: 100px;
    font-weight: 500;
}

button {
    height: 100%;
    width: 100px;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: large;


}